# Any backups used to bootstrap the development environment
/backup

# WordPress WXR files
/wxr

# Environment settings that contain sensitive information
/secret.env

# Any swap files left hanging by the vi editor
*.swp
